# Django
django==3.2.5
django-cors-headers==3.2.1
django-multiselectfield==0.1.9
django-filter==2.4.0
django-redis==4.11.0
django-extensions==3.1.5

# Database
psycopg2-binary==2.9.1

# Async tasks
redis==3.4.1
dramatiq[redis]==1.11.0
pika==1.2.0
django-dramatiq==0.10.0
django-periodiq==0.2.0

# Auth
ldap3==2.7
schematics==2.1.1
oauth2client==4.1.3
google-api-python-client==1.12.8
djangorestframework-jwt==1.11.0

# API
djangorestframework==3.11.2
drf-nested-routers==0.93.4

# Docs and logging
drf-yasg==1.17.1
sentry-sdk==0.10.2

# Linters
pylint==2.7.0
pylint-django==2.0.11

# Formatters
black==22.3.0

# Tests
pytest==6.2.5
pytest-cov==2.8.1
pytest-bdd==5.0.0
pytest-django==3.5.1
pytest-factoryboy==2.0.3
pytest-lazy-fixture==0.6.1
pytest-env==0.6.2
mock==4.0.2
factory_boy==2.12.0

# Static
Pillow==8.3.2
boto3==1.12.39
django-storages==1.9.1
whitenoise==5.2.0

# Emails
djrill==2.1.0

# Parse candidate resume
transliterate==1.10.2
beautifulsoup4==4.9.3

# Additional
gunicorn==20.1.0
requests==2.23.0
openpyxl==3.0.7
python-docx==0.8.11

# Debug
django-silk==4.2.0

# Cron parser
croniter==1.2.0
